h1, h2, h3, h4, h5, .header-title {
  font-family: 'Abel', sans-serif; }

p {
  font-family: 'Playfair Display', serif; }

a {
  text-decoration: none; }

/*------------- Flexbox mixins*/
/*------------- Flexbox center mixin*/
/*---------------Mixins for transforms, transitions and animations*/
/*Mixin for animation on contact page*/
/*Mixin for hide & show*/
form {
  margin: 1em 0 0 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  font-size: 1.2em; }
  form input {
    width: 100%; }
  form label {
    font-size: 1em;
    margin: 0; }

.login-form {
  height: 15em;
  width: 100%;
  background: #C6D2ED; }

.sign-up-form {
  height: 20em;
  width: 100%;
  background: #C6D2ED; }

.post-form {
  background: #C6D2ED; }

body, html {
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200em;
  background: white; }

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #344055;
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /*
  & nav {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-direction(row);
    @include align-items(center);
    width: 50%;
  }*/ }
  header a {
    color: white;
    margin: 0 2em 0 2em; }

.nav {
  background: #344055; }
  .nav button {
    background: #C4055E; }

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 0; }

.header-title {
  font-size: 1.5em; }

.hero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2em 0 2em 0;
  background: #C6D2ED;
  height: 20em;
  width: 100vw; }
  .hero h1 {
    font-size: 6em;
    color: #C4055E; }

/*# sourceMappingURL=main.css.map */
