.post-section {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(row);
  height: 10em;
  width: 100%;
  background: $darkgrey;
  padding:0;
  margin:1em 0 0 0;
  & article {
    height:auto;
  }
}
