@import "varmix";
@import "footer";

.admin-body {
    background: #fff;
}

.mym-dropdown {
    background: $darkgrey;
}

.mym-dp-item {
    color: #fff;
}
.admin-thead {
    background: $darkgrey;
    color: #fff;
}
