form {
  margin:1em 0 0 0;
  @include flexbox();
  @include justify-content(space-between);
  @include flex-direction(column);
  @include align-items(flex-start);
  font-size: 1.2em;

  & input {
    width: 100%;
  }
  & label {
    font-size: 1em;
    margin:0;
  }
  & button {
  }
}

.login-form {
  height:15em;
  width: 100%;
  background:$grey;
}


.sign-up-form {
  height:20em;
  width: 100%;
  background:$grey;
}

.post-form {
  background:$grey;
}
