form {
  //border:0.2em solid black;
  padding:1em;
  margin:2em 0 2em 0;
  @include flexbox();
  @include justify-content(space-between);
  @include flex-direction(column);
  @include align-items(flex-start);
  font-size: 1.2em;

  & h3 {

  }
  & input {
    width: 100%;
   border:none;

  }
  & label {
    font-size: 1em;
    margin:1em 0 0 -0.15em;
    color: #454D59;

  }
  & button {
    cursor: pointer;
    margin:2em;
    border:none;
    border:none;
    top:50%;
    left:50%;
    color:white;
    font-family: $font-abel;
    padding:0.3em;
    margin: 0.5em 0 0 0;
    background: $siris;
    &:nth-child(2){
      background:$blue;
    }
    &:hover {
      cursor:pointer;
    }
  }
}

.login-button-container {

}

.error-msg {
  color: $siris;
}

.login-form {
  width: 100%;
  min-height: 15em;
  margin:3em 0 0 0;
}

.sign-up-form {
  width: 100%;
  visibility: hidden;
  margin:-30em 0 0 0;
  //background:lightgrey;
  opacity: 0;
  @include fade('hide');
  @include transition(all 1s ease);
  &.active {
    visibility: visible;
    margin:0;
    @include fade('show');
  }
}

#post-form {
  width: 100%;
  visibility: hidden;
  opacity: 0;
    margin: 0 0 0;
      color:grey;
  @include transition(all 1s ease);
  &.active{
    @include fade('show');
      margin:4em 0 2em 0;
  }
  & input {
    &:nth-child(7){
      height: 10em;
      text-align: left;

    }
  }
}

.comment-form {
  width: 100%;
  height: 20em;
  border:0.2em solid black;
  & input {

    width: 100%;
  }
}

.like-form {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(flex-start);
  @include flex-direction(row);
  height: auto;
  width: 100%;
  position: relative;
  border:none;
  padding:0;
  margin:0;

  & button {
    //position: absolute;
    border:none;
    top:50%;
    left:50%;
    color:white;
    font-family: $font-abel;
    font-size: 0.9em;
    margin:0;
  }
}

.edit-post-form {
  background: $colblue;
  height: 0;
  opacity: 0;
  margin:0;
  @include fade('hide');
  &.active {
    margin:inherit;
    @include fade('show');
    height: auto;
    @include transition(all 1s ease);
  }
}

.post-buttons{
  color: white;
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  background-color: $blue;
  border: none;
  margin: 0 0.5em 0 0.5em;
  padding: 0.2em;


}


#deletePost{
  background: $siris;
}

.btn-group.grupp{
margin: 1em 0 0 0;
padding:0;
}
