form {
  border:0.2em solid black;
  padding:1em;
  margin:2em 0 2em 0;
  @include flexbox();
  @include justify-content(space-between);
  @include flex-direction(column);
  @include align-items(flex-start);
  font-size: 1.2em;
  & h3 {
  //  margin-bottom: -1em;
  }
  & input {
    width: 100%;
  //  margin-bottom: -1em;
  }
  & label {
    font-size: 1em;
  //  margin-bottom:-2em;
  }
  & button {
    margin-top: 1em;
  }
}

.login-form {
  width: 100%;
  min-height: 15em;
}

.sign-up-form {
  width: 100%;
}

.post-form {
  width: 100%;
}
