@import "varmix";
@import "forms";
@import "footer";
@import "post";
@import "loader";

body, html {
  overflow-x: hidden;
}

body {
  padding:0;
  margin:0;
  width: 100%;

  background: black;
  @include transition(all 0.7s ease);
  &.active {
    background:white;
  }
  &.active.active2{
    background: $blue;
  }
}

header {
  position: fixed;
  top:0;
  left:0;
  z-index:1000;
  width: 100%;
  height: auto;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  @include flex-direction(row);

  & a {
    font-size: 1em;
    color:white;
    margin:0 2em 0 2em;
  }

  &.admin {
    background: $blue;
  }
  /*
  & nav {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-direction(row);
    @include align-items(center);
    width: 50%;
  }*/
}

.nav {
  z-index: 1000;
  width: 80%;
  height: 2em;
  padding:0 2em 0 2em;
  @include flexbox();
  @include justify-content(flex-end);
  @include align-items(center);
  @include flex-direction(row);
  & a { color: black;}
  & button {
    background: white;
  }
  &.admin-nav {
    background: $blue;
  }
}
.nav-brand.nav-title {
  & a {
      color:$siris;
  }

}

main {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  width: 100vw;
  height: auto;

  padding:0;

}

.hero {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  margin: 0em 2em 0;
  //height: 100vh;
  width: 100vw;
  & h1 {
    font-size: 10em;
    color: white;
    margin:1.5em 0 0 0;
    @include breakpoint(medium){
      font-size: 7em;
      margin:2em 0 0 0;
    };
  }
  & h2 {
    color:$grey;
  }
}

#nav-title {
  font-size: 2em;
  color:white;
  &.active {
    &.active2 {
      color:white;
    }
    color:black;
  }
}
#nav-bar{
  & a {
    color:white;
   }
  &.active {
    &.active2 {
      & a {
        color:white;
      }
    }
    & a {
      color:black;
    }
  }
}
