.post-section {
  @include flexbox();
  @include justify-content(center);
  @include align-items(space-between);
  @include flex-direction(column);

  height: auto;
  width: 100%;
  padding: 1em;
  margin: 1em 0 0 0;
  color: black;
  background: white;
  @include transition(all 1s ease);

  &.active {
  

  }
  & article {
    height:auto;
  }
}
